*.user
Debug
v15
Release
x86
JetBrains.dotMemoryUnit.3.0.20171219.105559
MSTest.TestFramework.1.1.18
/packages/MSTest.TestAdapter.1.1.18
MathNet.Numerics.4.5.1
MSTest.TestAdapter.1.3.2
MSTest.TestFramework.1.3.2
